@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    background-image: url("img1.jpg");
    background-size: cover;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f1f1f1;
}

.container {
    display: flex;
    background: #000;
    margin: 70px auto 70px auto;
    padding: 0;
    width: 991px;
}

.box {
    height: 332px;
    padding: 15px;
    border-right: 1px solid #fff;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    list-style-type: none;
}

.detail {
    width: 85%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    color: #000;
    opacity: 0;
    padding: 30px;
    box-sizing: border-box;
    transition: 0.8s;
    transform: translateY(100%);
}

.box.active {
    width: 70% !important;
}

.box.active .detail {
    opacity: 1;
    transition-delay: 0.6s;
    transform: none;
}

.box span {
    writing-mode: vertical-rl;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 40px;
    transform: rotate(180deg);
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.box.active span {
    left: 25px;
    right: auto;
    margin: 0;
    font-weight: 600;
}

p {
    line-height: 23px;
}

